@model string
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Planet</title>
</head>
<body>
    <form action="/Home/AddPlanet" method="post">
        <input type="hidden" name="StarID" value="@Model" />
        <br />
        name:
        <br />
        <input type="text" name="name" />
        <br />
        StarType:
        <br />
        <select type="text" name="PlanetType">
            <option value="Miniterran">Miniterran</option>
            <option value="Subterran">Subterran</option>
            <option value="Terran">Terran</option>
            <option value="Superterran">Superterran</option>
            <option value="Neptunian">Neptunian</option>
            <option value="Jovian">Jovian</option>
        </select>
        <br />
        Habitable:
        <br />
        <input type="checkbox" value="true" name="Habitable" /><br />
        <br />
        Population:
        <br />
        <input type="number" name="Population" />
        <br />
        <input type="submit" value="Send" />
    </form>
</body>
</html>