<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Star</title>
</head>
<body>
    <form action="/Home/AddStar" method="post">
        <br />
        name:
        <br />
        <input type="text" name="name" />
        <br />
        StarType:
        <br />
        <select type="text">
            <option value="Blue_Stars">Blue Star</option>
            <option value="Yellow_Dwarfs">Yellow Dwarf</option>
            <option value="Orange_Dwarfs">Orange Dwarf</option>
            <option value="Red_Dwarfs">Red_Dwarfs</option>
            <option value="White_Dwarfs">White Dwarf</option>
            <option value="Red_Giants">Red Giants</option>
            <option value="Blue_Giants">Blue Giant</option>
        </select>
        <br />
        Age:
        <br />
        <input type="number" name="Age" />
        <br />
        <input type="submit" value="Send" />
    </form>
</body>
</html>