@model Models.System
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="/CSS/Form.css" rel="stylesheet" />
    <title>Update system</title>
</head>
<body>
    <a class="nav-link" style="color: #FFF842" href="/Home/ListSystem">back to list</a>
    <h1>System Update</h1>
    <div class="place">
        <div id="text">
            <form action="/Home/UpdateSystem" method="post">

                <input type="hidden" name="SystemID" value="@Model.SystemID" />
                <br />
                <h2>Name:</h2>
                <input type="text" name="Name" value="@Model.Name" />
                <br />
                <h2>Sector Name:</h2>
                <input type="text" name="SectorName" value="@Model.SectorName" />
                <br />

                <input class="action-button" type="submit" value="Send" />

            </form>
        </div>
    </div>

</body>
</html>